header#top.navbar.navbar-sticky
  .container
    .row.align-items-center
      .site-title.col.col-lg-auto.order-first
        h1
          a.custom-logo-link(href='/' rel='home')
            img.custom-logo(src='/img/header/logo.png' width='100' height='50' alt='Castilo')
      nav#site-menu.col-12.col-lg.order-3.order-sm-4.order-lg-2
        ul
          li.menu-item
            a(href='/about') About
          li.menu-item
            a(href='/bio') Bio
          li.menu-item
            a(href='/music') Music
          li.menu-item
            a(href='/videos') Videos
          li.menu-item
            a(href='/contact') Contact
      nav#social-links-menu.col-12.col-md-auto.order-4.order-md-1.order-lg-3
        ul.social-navigation
          li.menu-item.menu-item-type-custom
            a(title='Facebook Profile' target='_blank' href='https://www.facebook.com/mathewmacielmusic')
              span.screen-reader-text Facebook
          li.menu-item.menu-item-type-custom
            a(title='Instagram' target='_blank' href='https://www.instagram.com/mathew_maciel/')
              span.screen-reader-text Instagram
          li.menu-item.menu-item-type-custom
            a(title='Twitter Profile' target='_blank' href='https://twitter.com/mathew_maciel')
              span.screen-reader-text Twitter
          li.menu-item.menu-item-type-custom
            a(title='SoundCloud' target='_blank' href='https://soundcloud.com/mathew-maciel-music')
              span.screen-reader-text SoundCloud
          li.menu-item.menu-item-type-custom
            a(title='YouTube Channel' target='_blank' href='https://www.youtube.com/channel/UCjLWlXFgYDV2SMRlY8fFEPA')
              span.screen-reader-text YouTube
      .call-to-action.col-12.col-sm-auto.order-5.order-sm-2.order-lg-4
        a.button.button-small(href='/construction' target='_blank')
          span.zmdi.zmdi-filter-list
          |  Shop Merch #{user}
      if user
       .call-to-action.col-12.col-sm-auto.order-5.order-sm-2.order-lg-4
        a.button.button-small#logoutBtn(href='#' style='background:red')
          span.zmdi.zmdi-filter-list
          |  Log Out

      .site-menu-toggle.col-auto.order-2.order-sm-3
        a(href='#site-menu')
          span.screen-reader-text Toggle navigation