extends base


block append head
    style#castilo-inline-style.
        .featured-content {
            background-image: url(#{aboutBannerImage});
            background-repeat: no-repeat;
            /* background-attachment: fixed;
            background-position: top; */
        }

block content
 header#featured.featured-content.fade-background-50.padding-top-bottom
  .container
    .row.align-items-center
      .col-12.col-md
        h1.entry-title About Me
      .col-12.col-md-auto
        p.big.opacity-80 My story
 main#content.padding-top-bottom
 .container
  .row.align-items-center
    .col-12.col-md-6
      a.cover-image(href='#')
        img(src=about[0].aboutImage.url width='590' height='590' alt='')
    .col-12.col-md-6
      h3 MY STORY
      for entry in about[0].aboutParagraphs
        p= entry
      p
        a.button.button-small.button-white-filled(href='https://music.amazon.com/artists/B01IARNKLU?tab=CATALOG&ref=dm_wcp_artist_link_ad') Amazon Music
        a.button.button-small.button-white-filled(href='https://music.apple.com/us/artist/mathew-maciel/1133448720') Apple Music
        a.button.button-small.button-white-filled(href='https://open.spotify.com/artist/2babft8i5iezl343qG7G4v') Spotify
    .col-12.col-md-12
        .gallery.gallery-columns-3(style='margin-top:25px;')
            for entry in about[0].images
             figure.gallery-item
                .gallery-icon
                    a(href='#')
                        img(src=entry.url alt='' width='300' height='300')
//-  footer.sales-box.padding-top-bottom(style='margin-top:50px; background-image: url(https://images.unsplash.com/photo-1514320291840-2e0a9bf2a9ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1520&q=100&h=368)')
//-   .container
//-    .row.align-items-center
//-       .col-12.col-md-6
//-         a.cover-image(href='#')
//-         //-   img(src='tmp/sample-sales-cover.jpg' width='590' height='590' alt='')
//-       .col-12.col-md-6
//-         h3 New Stuff Each Week!
//-         p
//-           | Listen below and order your copy from Amazon, iTunes or your favorite record store. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia conseqa untur magni dolores eos qui ratione sequi.
//-         p    