extends baseEmail

block content
  p You got a new message!
  p Name: #{name}
  p Email : #{userEmail}
  p Message: #{message}
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td(style='background:#fff;')
                 img(src='https://www.mathewmacielmusic.com/img/header/logo.png')
  p - Mathew Maciel Music