footer#footer.padding-top-bottom
  .container
    .row
      .widget-area.col-12
        section.widget.widget_text
          h3.widget-title Don&apos;t miss our weekly episodes. Subscribe now!
          .textwidget
            form.mc4wp-form(method='post')
              .mc4wp-form-fields
                p
                  | A theme with a simple and organized approach to presenting your content with understated charm and undeniable appeal.
                p.one-line
                  label.screen-reader-text(for='subscribe_email') Subscription Email
                  input#subscribe_email(name='email' required='' placeholder='Your email address…' type='email')
                  input.button-color.button-filled(value='Subscribe' type='submit')
        section.widget.widget_nav
          h3.screen-reader-text Social Navigation
          nav
            ul.social-navigation
              li.menu-item.menu-item-type-custom
                a(title='Facebook Profile' target='_blank' href='http://facebook.com')
                  span.screen-reader-text Facebook
              li.menu-item.menu-item-type-custom
                a(title='Google Play' target='_blank' href='http://play.google.com')
                  span.screen-reader-text Google Play
              li.menu-item.menu-item-type-custom
                a(title='Twitter Profile' target='_blank' href='http://twitter.com')
                  span.screen-reader-text Twitter
              li.menu-item.menu-item-type-custom
                a(title='SoundCloud' target='_blank' href='http://soundcloud.com/podcast')
                  span.screen-reader-text SoundCloud
              li.menu-item.menu-item-type-custom
                a(title='YouTube Channel' target='_blank' href='http://youtube.com')
                  span.screen-reader-text YouTube
      .copyright.col-12
        p &copy; LGND &hearts;. All Rights Reserved.