doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='Mathew Music')
        meta(name='keywords' content='Music')
        title Mathew Music
        <link href="https://fonts.googleapis.com/css?family=Oswald:300,400%7CKarla:400,700" rel="stylesheet">
        link(rel='shortcut icon' href='favicon.png')
        link(rel='stylesheet' href='/css/bootstrap-reboot.css')
        link(rel='stylesheet' href='/css/bootstrap-grid.css')
        link(rel='stylesheet' href='/css/material-design-iconic-font.css')
        link(rel='stylesheet' href='/css/style.css')
        
        style#castilo-inline-style.
            .featured-content {
                background-color: #313131;
                background-image: url('/img/header/header_image2.png');
            }
            @media (min-width: 768px) {
             .featured-content {
                background-image: url('/img/header/header_image2.png');
             }
            }
            .sales-box {
                background-image: url(tmp/sample-sales.jpg);
            }
            .latest-news {
                background-image: url(tmp/latest-news.jpg);
            }    

body.home
header#top.navbar.navbar-sticky
  .container
    .row.align-items-center
      .site-title.col.col-lg-auto.order-first
        h1
          a.custom-logo-link(href='/' rel='home')
            img.custom-logo(src='/img/header/logo.png' width='76' height='18' alt='Castilo')
      nav#site-menu.col-12.col-lg.order-3.order-sm-4.order-lg-2
        ul
          li.menu-item
            a(href='#') About
          li.menu-item
            a(href='#') Bio
          li.menu-item
            a(href='#') Music
          li.menu-item
            a(href='#') Videos
          li.menu-item
            a(href='#') Contact
      nav#social-links-menu.col-12.col-md-auto.order-4.order-md-1.order-lg-3
        ul.social-navigation
          li.menu-item.menu-item-type-custom
            a(title='Facebook Profile' target='_blank' href='http://facebook.com')
              span.screen-reader-text Facebook
          li.menu-item.menu-item-type-custom
            a(title='Google Play' target='_blank' href='http://play.google.com')
              span.screen-reader-text Google Play
          li.menu-item.menu-item-type-custom
            a(title='Twitter Profile' target='_blank' href='http://twitter.com')
              span.screen-reader-text Twitter
          li.menu-item.menu-item-type-custom
            a(title='SoundCloud' target='_blank' href='http://soundcloud.com/podcast')
              span.screen-reader-text SoundCloud
          li.menu-item.menu-item-type-custom
            a(title='YouTube Channel' target='_blank' href='http://youtube.com')
              span.screen-reader-text YouTube
      .call-to-action.col-12.col-sm-auto.order-5.order-sm-2.order-lg-4
        a.button.button-small(href='#' target='_blank')
          span.zmdi.zmdi-filter-list
          |  Shop Merch
      .site-menu-toggle.col-auto.order-2.order-sm-3
        a(href='#site-menu')
          span.screen-reader-text Toggle navigation
header#featured.featured-content.fade-background-0.padding-top-bottom
  .container
    .row.align-items-center
      .col-12.col-lg-8.col-xl-7
        .latest-episode
          .podcast-episode
            p.big.text-uppercase.opacity-50 Featured Music
            h1.entry-title
              a(href='#') The Throne
            .podcast-episode
              .podcast-episode-player(data-episode-download='/music/TheThrone.mp3' data-episode-download-button='Download Episode (4,567.6 KB)' data-episode-duration='3:02' data-episode-size='4,567.6 KB')
                audio.wp-audio-shortcode(preload='none' style='width: 100%;' controls='controls')
                  source(src='/music/TheThrone.mp3' type='audio/mpeg')
            p
              a.button.button-filled.button-color(href='#')
                span.zmdi.zmdi-apple
                |  iTunes
              a.button.button-white(href='#')
                span.zmdi.zmdi-soundcloud
                |  Sound Cloud
              a.button.button-white(href='#')
                span.zmdi.zmdi-rss
                |  Radio
main#content.padding-top-bottom
  .container
    .row
      .col-12
        .episodes-listing
          h3.add-separator
            span
              | Browse 
              em Music
          article.entry.entry-episode
            .row.align-items-lg-center
              .col-12.col-md-4.col-xl-3
                .entry-media.entry-image.multiply-effect
                  a(href='#')
                    img.first(src='https://images.unsplash.com/photo-1507246249828-b7a6c99f2ce1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=736&q=100&h=736' width='736' height='736' alt='')
                    span.second
                      img(src='https://images.unsplash.com/photo-1507246249828-b7a6c99f2ce1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=736&q=100&h=736' width='736' height='736' alt='')
                    span.third
                      img(src='https://images.unsplash.com/photo-1507246249828-b7a6c99f2ce1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=736&q=100&h=736' width='736' height='736' alt='')
              .col-12.col-md-8.col-xl-9
                header.entry-header
                  .entry-meta
                    span.posted-in
                      span.screen-reader-text Posted in: 
                      a(href='#' rel='bookmark') Season 1
                    span.posted-on
                      span.screen-reader-text Posted on: 
                      a(href='#' rel='bookmark')
                        time.entry-date.published(datetime='2017-09-13T14:48:37+00:00') 13 September 2017
                    span.tags
                      span.screen-reader-text Tagged: 
                      a(rel='tag' href='#') audio
                      | , 
                      a(rel='tag' href='#') goodbyes
                      | , 
                      a(rel='tag' href='#') life
                  h2.entry-title
                    a(href='#' rel='bookmark') A short wave goodbye for my good friend Francisco
                .entry-content
                  p
                    | Capicola jerky ham hock, pork doner jowl tail boudin strip steak rump kevin bresaola salami biltong cupim kevin tri-tip sirloin spare ribs turkey corned beef turkey cow short ribs&mldr; 
                    a(href='#') (read more)
                .entry-audio
                  .podcast-episode
                    .podcast-episode-player(data-episode-duration='00:41')
                      audio.wp-audio-shortcode(preload='none' style='width: 100%;' controls='controls')
                        source(src='http://html.liviucerchez.com/common/preview1.mp3' type='audio/mpeg')
                        source(src='http://html.liviucerchez.com/common/preview1.ogg' type='audio/ogg')
          article.entry.entry-episode
            .row.align-items-lg-center
              .col-12.col-md-4.col-xl-3
                .entry-media.entry-image.multiply-effect
                  a(href='single-episode.html')
                    img.first(src='https://images.unsplash.com/photo-1465147836063-7ca3784f01af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=736&q=100&h=736' width='736' height='736' alt='')
                    span.second
                      img(src='https://images.unsplash.com/photo-1465147836063-7ca3784f01af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=736&q=100&h=736' width='736' height='736' alt='')
                    span.third
                      img(src='https://images.unsplash.com/photo-1465147836063-7ca3784f01af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=736&q=100&h=736' width='736' height='736' alt='')
              .col-12.col-md-8.col-xl-9
                header.entry-header
                  .entry-meta
                    span.posted-in
                      span.screen-reader-text Posted in: 
                      a(href='#' rel='bookmark') Season 1
                    span.posted-on
                      span.screen-reader-text Posted on: 
                      a(href='#' rel='bookmark')
                        time.entry-date.published(datetime='2017-09-09T14:48:37+00:00') 9 September 2017
                    span.tags
                      span.screen-reader-text Tagged: 
                      a(rel='tag' href='#') talk
                      | , 
                      a(rel='tag' href='#') nomore
                      | , 
                      a(rel='tag' href='#') handmade
                  h2.entry-title
                    a(href='#' rel='bookmark') Red hat craftswoman glazing handmade white china pot
                .entry-content
                  p
                    | Ham hock meatloaf corned beef tri-tip shankle capicola, ground round pastrami spare ribs leberkas pork loin tongue cupim. Cow burgdoggen landjaeger flank chop chuck&mldr; 
                    a(href='#') (read more)
                .entry-audio
                  .podcast-episode
                    .podcast-episode-player(data-episode-duration='00:44')
                      audio.wp-audio-shortcode(preload='none' style='width: 100%;' controls='controls')
                        source(src='http://html.liviucerchez.com/common/preview2.mp3' type='audio/mpeg')
                        source(src='http://html.liviucerchez.com/common/preview2.ogg' type='audio/ogg')
          article.entry.entry-episode
            .row.align-items-lg-center
              .col-12.col-md-4.col-xl-3
                .entry-media.entry-image.multiply-effect
                  a(href='#')
                    img.first(src='/img/header/music_temp736.png' width='736' height='736' alt='')
                    span.second
                      img(src='/img/header/music_temp736.png' width='736' height='736' alt='')
                    span.third
                      img(src='/img/header/music_temp736.png' width='736' height='736' alt='')
              .col-12.col-md-8.col-xl-9
                header.entry-header
                  .entry-meta
                    span.posted-in
                      span.screen-reader-text Posted in: 
                      a(href='#' rel='bookmark') Season 1
                    span.posted-on
                      span.screen-reader-text Posted on: 
                      a(href='#' rel='bookmark')
                        time.entry-date.published(datetime='2017-09-03T14:48:37+00:00') 3 September 2017
                    span.tags
                      span.screen-reader-text Tagged: 
                      a(rel='tag' href='#') citrus
                      | , 
                      a(rel='tag' href='#') photography
                      | , 
                      a(rel='tag' href='#') seed
                  h2.entry-title
                    a(href='#' rel='bookmark') Lemon juice for the next generations to come
                .entry-content
                  p
                    | Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato sprout coriander water chestnut&mldr; 
                    a(href='#') (read more)
                .entry-audio
                  .podcast-episode
                    .podcast-episode-player(data-episode-duration='00:41')
                      audio.wp-audio-shortcode(preload='none' style='width: 100%;' controls='controls')
                        source(src='http://html.liviucerchez.com/common/preview1.mp3' type='audio/mpeg')
                        source(src='http://html.liviucerchez.com/common/preview1.ogg' type='audio/ogg')
          .pagination.pagination-load-more
            a.button.button-filled(href='#')
              span.zmdi.zmdi-more
              |  Browse More
  .latest-news.margin-top-bottom.invert-colors.fade-background-70.padding-top-bottom
    .container
      h3.add-separator
        span
          | Latest 
          em News
      .row
        .col-12.col-md-4
          article.entry.entry-post
            header.entry-header
              .categories
                span.screen-reader-text Posted in: 
                a(href='#' rel='category tag') Updates
              h2.entry-title
                a(href='#' rel='bookmark') Starting fresh one of these days
              .entry-meta
                span.posted-on
                  span.screen-reader-text Posted on: 
                  a(href='#') 19 October 2017
            .entry-content
              p
                | Nori grape silver beet broccoli kombu beet greens fava bean potato quandong celery bunya nuts black-eyed pea prairie&mldr;
              a.read-more(href='#')
                | Read more 
                span.zmdi.zmdi-trending-flat
        .col-12.col-md-4
          article.entry.entry-post
            header.entry-header
              .categories
                span.screen-reader-text Posted in: 
                a(href='#' rel='category tag') Podcast
              h2.entry-title
                a(href='#' rel='bookmark') Lessons learned from the big guys
              .entry-meta
                span.posted-on
                  span.screen-reader-text Posted on: 
                  a(href='#') 13 October 2017
            .entry-content
              p
                | Sea lettuce lettuce water chestnut eggplant winter purslane fennel azuki bean earthnut pea sierra leone bologi leek&mldr;
              a.read-more(href='#')
                | Read more 
                span.zmdi.zmdi-trending-flat
        .col-12.col-md-4
          article.entry.entry-post
            header.entry-header
              .categories
                span.screen-reader-text Posted in: 
                a(href='#' rel='category tag') Interviews
              h2.entry-title
                a(href='#' rel='bookmark') Yes, let&rsquo;s start a great project
              .entry-meta
                span.posted-on
                  span.screen-reader-text Posted on: 
                  a(href='#') 16 September 2017
            .entry-content
              p
                | Salsify taro catsear garlic gram celery bitterleaf wattle seed collard greens nori grape wattle seed kombu beetroot&mldr;
              a.read-more(href='#')
                | Read more 
                span.zmdi.zmdi-trending-flat
      .pagination.pagination-load-more
        a.button.button-white.button-filled(href='#')
          span.zmdi.zmdi-more
          |  Browse More
  .container
    .row
      .col-12
        .latest-images
          h3.add-separator
            span
              | Latest from 
              em Instagram
          .row
            .image-item.col
              .multiply-effect
                a(href='#' target='_blank')
                  img.first(src='tmp/sample-instragram1.jpg' width='300' height='300' alt='')
                  span.second
                    img(src='tmp/sample-instragram1.jpg' width='300' height='300' alt='')
                  span.third
                    img(src='tmp/sample-instragram1.jpg' width='300' height='300' alt='')
            .image-item.col
              .multiply-effect
                a(href='#' target='_blank')
                  img.first(src='tmp/sample-instragram2.jpg' width='300' height='300' alt='')
                  span.second
                    img(src='tmp/sample-instragram2.jpg' width='300' height='300' alt='')
                  span.third
                    img(src='tmp/sample-instragram2.jpg' width='300' height='300' alt='')
            .image-item.col.d-none.d-sm-block
              .multiply-effect
                a(href='#' target='_blank')
                  img.first(src='tmp/sample-instragram3.jpg' width='300' height='300' alt='')
                  span.second
                    img(src='tmp/sample-instragram3.jpg' width='300' height='300' alt='')
                  span.third
                    img(src='tmp/sample-instragram3.jpg' width='300' height='300' alt='')
            .image-item.col.d-none.d-lg-block
              .multiply-effect
                a(href='#' target='_blank')
                  img.first(src='tmp/sample-instragram4.jpg' width='300' height='300' alt='')
                  span.second
                    img(src='tmp/sample-instragram4.jpg' width='300' height='300' alt='')
                  span.third
                    img(src='tmp/sample-instragram4.jpg' width='300' height='300' alt='')
            .image-item.col.d-none.d-xl-block
              .multiply-effect
                a(href='#' target='_blank')
                  img.first(src='tmp/sample-instragram5.jpg' width='300' height='300' alt='')
                  span.second
                    img(src='tmp/sample-instragram5.jpg' width='300' height='300' alt='')
                  span.third
                    img(src='tmp/sample-instragram5.jpg' width='300' height='300' alt='')
          .pagination.pagination-load-more
            a.button(href='#')
              span.zmdi.zmdi-instagram
              |  Follow Us
footer.sales-box.padding-top-bottom
  .container
    .row.align-items-center
      .col-12.col-md-6
        a.cover-image(href='#')
          img(src='tmp/sample-sales-cover.jpg' width='590' height='590' alt='')
      .col-12.col-md-6
        h3 New Stuff Each Week!
        p
          | Listen below and order your copy from Amazon, iTunes or your favorite record store. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia conseqa untur magni dolores eos qui ratione sequi.
        p
          a.button.button-small.button-white(href='#') Amazon
          a.button.button-small.button-white(href='#') iTunes
          a.button.button-small.button-white(href='#') Spotify
footer#footer.padding-top-bottom
  .container
    .row
      .widget-area.col-12
        section.widget.widget_text
          h3.widget-title Don&apos;t miss our weekly episodes. Subscribe now!
          .textwidget
            form.mc4wp-form(method='post')
              .mc4wp-form-fields
                p
                  | A theme with a simple and organized approach to presenting your content with understated charm and undeniable appeal.
                p.one-line
                  label.screen-reader-text(for='subscribe_email') Subscription Email
                  input#subscribe_email(name='email' required='' placeholder='Your email address…' type='email')
                  input.button-color.button-filled(value='Subscribe' type='submit')
        section.widget.widget_nav
          h3.screen-reader-text Social Navigation
          nav
            ul.social-navigation
              li.menu-item.menu-item-type-custom
                a(title='Facebook Profile' target='_blank' href='http://facebook.com')
                  span.screen-reader-text Facebook
              li.menu-item.menu-item-type-custom
                a(title='Google Play' target='_blank' href='http://play.google.com')
                  span.screen-reader-text Google Play
              li.menu-item.menu-item-type-custom
                a(title='Twitter Profile' target='_blank' href='http://twitter.com')
                  span.screen-reader-text Twitter
              li.menu-item.menu-item-type-custom
                a(title='SoundCloud' target='_blank' href='http://soundcloud.com/podcast')
                  span.screen-reader-text SoundCloud
              li.menu-item.menu-item-type-custom
                a(title='YouTube Channel' target='_blank' href='http://youtube.com')
                  span.screen-reader-text YouTube
      .copyright.col-12
        p &copy; LGND &hearts;. All Rights Reserved.

script(src='/js/jquery-3.2.1.min.js')
script(src='/js/modernizr-custom.js')
script(src='/js/functions.js')

link#mediaelement-css(rel='stylesheet' href='/mediaelement/mediaelementplayer-legacy.css')
link#wp-mediaelement-css(rel='stylesheet' href='/mediaelement/wp-mediaelement.css')
link#castilo-additional-mediaelement-css(rel='stylesheet' href='/css/mediaelement-castilo.css')
script(src='/mediaelement/mediaelement-and-player.js')
script(src='/mediaelement/mediaelement-migrate.js')
script(src='/mediaelement/wp-mediaelement.js')
script(src='/js/mediaelement-castilo.js')

  