doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='Mathew Music')
        meta(name='keywords' content='Music')
        title Mathew Music
        <link href="https://fonts.googleapis.com/css?family=Oswald:300,400%7CKarla:400,700" rel="stylesheet">
        link(rel='shortcut icon' href='favicon.png')
        link(rel='stylesheet' href='/css/bootstrap-reboot.css')
        link(rel='stylesheet' href='/css/bootstrap-grid.css')
        link(rel='stylesheet' href='/css/material-design-iconic-font.css')
        link(rel='stylesheet' href='/css/style.css')
        block head
        

body.home
include _header
block content
include _footer

script(src='/js/jquery-3.2.1.min.js')
script(src='/js/modernizr-custom.js')
script(src='/js/functions.js')
block javascript



  