extends base 

block append head
 style#castilo-inline-style.
    .featured-content {
        background-image: url(https://images.unsplash.com/photo-1459305272254-33a7d593a851?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1520&q=100&h=420);
    }

block content
 header#featured.featured-content.fade-background-50.padding-top-bottom
  .container
    .row.align-items-center
      .col-12.col-md
        h1.entry-title Contact Us
      .col-12.col-md-auto
        //- p.big.opacity-80 We encourage you to get in touch with us.
 main#content.padding-top-bottom
  .container
    .row.justify-content-md-center
      .col-12.col-md-8.col-lg-7.text-center
        h3
          | Let's Connect
      .w-100
      .col-12.col-md-10.col-lg-8.text-center
        p
          |  If you want any additional information about music, merchandise, concerts, ticket sales etc., be sure to send us an email and we will respond when available. Thank You.
      .w-100
      .col-12.col-md-10.col-lg-8
        .row.text-center.justify-content-center
          .col-12.col-sm-12.col-lg-6.address-info
            h5
              span.zmdi.zmdi-email
              |  Email
            p
              | JBG Management | Josh Guevara
              br
              |  josh@jbgmngt.com
          .col-12.col-sm-12.col-lg-6.address-info
            h5
              span.zmdi.zmdi-email
              |  Email
            p
              | Mathew Maciel
              br
              |  mathewmacielmusic@gmail.com
      .col-12.col-md-10.col-lg-8.margin-top-bottom
        form#contact_form(action='sendmail.php')
          .message(style='display:none')
            #contact_alert.alert aaaa
          .row
            .col-12.col-md-6
              label(for='name') Name
              input#name(type='text' placeholder='name' name='name' required='')
            .col-12.col-md-6
              label(for='email') Email
              input#email(type='email' placeholder='email@email.com' name='email' required='')
            .col-12
              label(for='message') Message
              textarea#message(name='message' cols='30' rows='10' required='')
            .col-12.text-center
              button.button-filled.button-color(type='submit')
                span.zmdi.zmdi-mail-send
                |  Get in touch
//-  footer.sales-box.padding-top-bottom(style='background-image: url(https://images.unsplash.com/photo-1514320291840-2e0a9bf2a9ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1520&q=100&h=368)')
//-   .container
//-     .row.align-items-center
//-       .col-12.col-md-6
//-         a.cover-image(href='#')
//-         //-   img(src='tmp/sample-sales-cover.jpg' width='590' height='590' alt='')
//-       .col-12.col-md-6
//-         h3 New Stuff Each Week!
//-         p
//-           | Listen below and order your copy from Amazon, iTunes or your favorite record store. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia conseqa untur magni dolores eos qui ratione sequi.
//-         p    

block append javascript
    script(src='assets/js/jquery.form.min.js')
    script.
        jQuery(function(){
        // initialize ajax form plugin
        jQuery('#contact_form').ajaxForm({ target: '#contact_alert' });
        });