extends base 

block append head
 style#castilo-inline-style.
    .featured-content {
        background-color: #313131;
        background-image: url('/img/header/homepageImage3.jpg');
    }
    @media (min-width: 768px) {
    .featured-content {
        background-image: url('/img/header/homepageImage3.jpg');
    }
    }
    .sales-box {
        background-image: url(tmp/sample-sales.jpg);
    }
    .latest-news {
        background-image: url(tmp/latest-news.jpg);
    }
    @media (max-width: 768px) {
        .remove{
            display:none;
        }    
        .padTop{
            padding-top:180px;
        }
        .spot{
            background: #1DB954;
            border: 2px solid #1DB954;
        }
    }

block content
 header#featured.featured-content.fade-background-0.padding-top-bottom
  .container
    .row.align-items-center
      .col-12.col-lg-8.col-xl-7
        .latest-episode.padTop
          .podcast-episode
            p.big.text-uppercase.opacity-50 Featured Music
            h1.entry-title
              a(href='#') 
            iframe(src='https://open.spotify.com/embed/track/7oF90Fq34O688ruHQD8fmV' width='500' height='80' frameborder='0' allowtransparency='true' allow='encrypted-media')
            //- .podcast-episode
            //-   .podcast-episode-player(data-episode-download='/music/TheThrone.mp3' data-episode-download-button='Download Episode (4,567.6 KB)' data-episode-duration='3:02' data-episode-size='4,567.6 KB')
            //-     audio.wp-audio-shortcode(preload='none' style='width: 100%;' controls='controls')
            //-       source(src='/music/TheThrone.mp3' type='audio/mpeg')
            p
              a.button.button-filled.button-color(href='https://music.apple.com/us/artist/mathew-maciel/1133448720 ', target='_blank')
                span.zmdi.zmdi-apple
                |  Music
              a.button.button-filled.button-color.remove(href='https://music.amazon.com/artists/B01IARNKLU?tab=CATALOG&ref=dm_wcp_artist_link_ad', target='_blank')
                span.zmdi.zmdi-amazon
                |  Music
              a.button.button-filled.button-color(href='https://open.spotify.com/artist/2babft8i5iezl343qG7G4v', target='_blank')
                |  Spotify
 main#content.padding-top-bottom
  .container
    .row
      .col-12
        .episodes-listing
          h3.add-separator
            span
              | Browse 
              em Music
          article.entry.entry-episode
            .row.align-items-lg-center
              .col-12.col-md-4.col-xl-3
                .entry-media.entry-image.multiply-effect
                  a(href='/img/ResistingYou.png')
                    img.first(src='/img/ResistingYou.png' width='736' height='736' alt='')
                    span.second
                      img(src='/img/ResistingYou.png' width='736' height='736' alt='')
                    span.third
                      img(src='/img/ResistingYou.png' width='736' height='736' alt='')
              .col-12.col-md-8.col-xl-9
                header.entry-header
                  .entry-meta
                    span.posted-in
                      span.screen-reader-text Posted in: 
                      a(href='#' rel='bookmark') Resisting You 
                    span.posted-on
                      span.screen-reader-text Posted on: 
                      a(href='#' rel='bookmark')
                        time.entry-date.published(datetime='2020-03-26T14:48:37+00:00') August 14, 2020
                    span.tags
                      span.screen-reader-text Tagged: 
                      a(rel='tag' href='#') ResistingYou 
                      | , 
                      a(rel='tag' href='#') pop 
                      | , 
                      a(rel='tag' href='#') christian
                  h2.entry-title
                    a(href='#' rel='bookmark') Resisting You
                .entry-content
                  p
                    | 'Cause Your love is deeper/Your love keeps pulling me/Your love is wider/Your love's all I want to know it's true/What do I have to lose/Why am I resisting You'&mldr; 
                    a(href='/construction') (read more)
                <iframe src="https://open.spotify.com/embed/track/7oF90Fq34O688ruHQD8fmV" width='500' height='80' frameborder='0' allowtransparency='true' allow='encrypted-media'></iframe>
                //- a.button.button-filled.button-color(href='#')
                //-     span.zmdi.zmdi-collection-music
                //-     | Coming Soon 
                //- iframe(src='https://open.spotify.com/embed?theme=black&uri=spotify%3Atrack%3A0RWwsyI9dSR2qErtaNxvHI&view=list' width='500' height='80' frameborder='0' allowtransparency='true' allow='encrypted-media')
                //- .entry-audio
                //-   .podcast-episode
                //-     .podcast-episode-player(data-episode-duration='00:41')
                //-       audio.wp-audio-shortcode(preload='none' style='width: 100%;' controls='controls')
                //-         source(src='http://html.liviucerchez.com/common/preview1.mp3' type='audio/mpeg')
                //-         source(src='http://html.liviucerchez.com/common/preview1.ogg' type='audio/ogg')
          article.entry.entry-episode
            .row.align-items-lg-center
              .col-12.col-md-4.col-xl-3
                .entry-media.entry-image.multiply-effect
                  a(href='/img/TheThrone.png')
                    img.first(src='/img/TheThrone.png' width='736' height='736' alt='')
                    span.second
                      img(src='/img/TheThrone.png' width='736' height='736' alt='')
                    span.third
                      img(src='/img/TheThrone.png' width='736' height='736' alt='')
              .col-12.col-md-8.col-xl-9
                header.entry-header
                  .entry-meta
                    span.posted-in
                      span.screen-reader-text Posted in: 
                      a(href='#' rel='bookmark') Throne 
                    span.posted-on
                      span.screen-reader-text Posted on: 
                      a(href='#' rel='bookmark')
                        time.entry-date.published(datetime='2020-03-26T14:48:37+00:00') Mar 27, 2020
                    span.tags
                      span.screen-reader-text Tagged: 
                      a(rel='tag' href='#') Move 
                      | , 
                      a(rel='tag' href='#') TheThrone 
                      | , 
                      a(rel='tag' href='#') christian
                  h2.entry-title
                    a(href='#' rel='bookmark') Move
                .entry-content
                  p
                    | 'Please don't stop me let me go/Move your body to the floor/feel the rhythm feel the flow/The party is bumpin' keep moving some more/ 
                    | Please don't stop me let me go/Move your body to the floor/feel the rhythm feel the flow/Your hands in the air feel the beat in your soul'&mldr;
                    a(href='/construction') (read more)
                iframe(src='https://open.spotify.com/embed?theme=black&uri=spotify%3Atrack%3A1wyOVR9onqjU6ORYq95tjo&view=list' width='500' height='80' frameborder='0' allowtransparency='true' allow='encrypted-media')
          article.entry.entry-episode
            .row.align-items-lg-center
              .col-12.col-md-4.col-xl-3
                .entry-media.entry-image.multiply-effect
                  a(href='/img/ThankYou.png')
                    img.first(src='/img/ThankYou.png' width='736' height='736' alt='')
                    span.second
                      img(src='/img/ThankYou.png' width='736' height='736' alt='')
                    span.third
                      img(src='/img/ThankYou.png' width='736' height='736' alt='')
              .col-12.col-md-8.col-xl-9
                header.entry-header
                  .entry-meta
                    span.posted-in
                      span.screen-reader-text Posted in: 
                      a(href='#' rel='bookmark') Thank You 
                    span.posted-on
                      span.screen-reader-text Posted on: 
                      a(href='#' rel='bookmark')
                        time.entry-date.published(datetime='2017-09-09T14:48:37+00:00') February 16, 2018
                    span.tags
                      span.screen-reader-text Tagged: 
                      a(rel='tag' href='#') TYFL 
                      | , 
                      a(rel='tag' href='#') pop 
                      | , 
                      a(rel='tag' href='#') christian
                  h2.entry-title
                    a(href='#' rel='bookmark') Thank You For Leaving
                .entry-content
                  p
                    | ' Thank you for leaving me/Thank you for teaching me/That you weren't what I needed and now I can see it/Thank you for showing me/I wasn't the man I was called to be/But now that I can be set free/ I thank you for leaving me '&mldr; 
                    a(href='/construction') (read more)
                iframe(src='https://open.spotify.com/embed?theme=black&uri=spotify%3Aalbum%3A35Y3dGthd5xzzUgiedLfvf&view=list' width='500' height='80' frameborder='0' allowtransparency='true' allow='encrypted-media')
                //- .entry-audio
                //-   .podcast-episode
                //-     .podcast-episode-player(data-episode-duration='00:44')
                //-       audio.wp-audio-shortcode(preload='none' style='width: 100%;' controls='controls')
                //-         source(src='http://html.liviucerchez.com/common/preview2.mp3' type='audio/mpeg')
                //-         source(src='http://html.liviucerchez.com/common/preview2.ogg' type='audio/ogg')

        //-   .pagination.pagination-load-more
        //-     a.button.button-filled(href='#')
        //-       span.zmdi.zmdi-more
        //-       |  Browse More
  .latest-news.margin-top-bottom.invert-colors.fade-background-70.padding-top-bottom
    .container
      h3.add-separator
        span
          | Latest 
          em Video
      .row
        .col-12.col-md-6
          article.entry.entry-post
            header.entry-header
              .categories
               <iframe width="500" height="250" src="https://www.youtube.com/embed/0SUDS6SyoYg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        .col-12.col-md-6
          article.entry.entry-post
            header.entry-header
              .categories
               <iframe width="500" height="250" src="https://www.youtube.com/embed/R8nvErLkglM?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        a.button.button-filled.button-color(href='https://www.youtube.com/channel/UCjLWlXFgYDV2SMRlY8fFEPA' target='_blank' rel='category tag', style='margin:0 auto;')
            span.zmdi.zmdi-youtube
            | Youtube
  .container
    .row
      .col-12
        .latest-images
          h3.add-separator
            span
              | Latest from 
              em Instagram
          .row#instaRow
          .pagination.pagination-load-more
            a.button(href='https://www.instagram.com/mathew_maciel/?hl=en')
              span.zmdi.zmdi-instagram
              |  Follow
//-  footer.sales-box.padding-top-bottom(style='background-image: url(https://images.unsplash.com/photo-1514320291840-2e0a9bf2a9ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1520&q=100&h=368)')
//-   .container
//-     .row.align-items-center
//-       .col-12.col-md-6
//-         a.cover-image(href='#')
//-         //-   img(src='tmp/sample-sales-cover.jpg' width='590' height='590' alt='')
//-       .col-12.col-md-6
//-         h3 New Stuff Each Week!
//-         p
//-           | Listen below and order your copy from Amazon, iTunes or your favorite record store. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia conseqa untur magni dolores eos qui ratione sequi.
//-         p
//-           a.button.button-small.button-white(href='#') Amazon
//-           a.button.button-small.button-white(href='#') iTunes
//-           a.button.button-small.button-white(href='#') Spotify

block append javascript
    link#mediaelement-css(rel='stylesheet' href='/mediaelement/mediaelementplayer-legacy.css')
    link#wp-mediaelement-css(rel='stylesheet' href='/mediaelement/wp-mediaelement.css')
    link#castilo-additional-mediaelement-css(rel='stylesheet' href='/css/mediaelement-castilo.css')
    script(src='/mediaelement/mediaelement-and-player.js')
    script(src='/mediaelement/mediaelement-migrate.js')
    script(src='/mediaelement/wp-mediaelement.js')
    script(src='/js/mediaelement-castilo.js')
    script(src='/js/bundle.js')