extends base

block append head
 style#castilo-inline-style.
    .featured-content {
        background-image: url(/img/header/header_image3.png);
    }

block content
 header#featured.featured-content.fade-background-50.padding-top-bottom
  .container
    .row.align-items-center
      .col-12.col-md
        h1.entry-title Music
      .col-12.col-md-auto
        p.big.opacity-80 Music is currently on Apple Music, Spotify and all other music platforms.

 main#content.padding-top-bottom
  .container
    .row
      .col-12
        .episodes-listing
          h3.add-separator
            span
              | All 
              em Music
          article.entry.entry-episode
            .row.align-items-lg-center
              .col-12.col-md-4.col-xl-3
                .entry-media.entry-image.multiply-effect
                  a(href='/img/ResistingYou.png')
                    img.first(src='/img/ResistingYou.png' width='736' height='736' alt='')
                    span.second
                      img(src='/img/ResistingYou.png' width='736' height='736' alt='')
                    span.third
                      img(src='/img/ResistingYou.png' width='736' height='736' alt='')
              .col-12.col-md-8.col-xl-9
                header.entry-header
                  .entry-meta
                    span.posted-in
                      span.screen-reader-text Posted in: 
                      a(href='#' rel='bookmark') Resisting You 
                    span.posted-on
                      span.screen-reader-text Posted on: 
                      a(href='#' rel='bookmark')
                        time.entry-date.published(datetime='2020-03-26T14:48:37+00:00') August 14, 2020
                    span.tags
                      span.screen-reader-text Tagged: 
                      a(rel='tag' href='#') ResistingYou 
                      | , 
                      a(rel='tag' href='#') pop 
                      | , 
                      a(rel='tag' href='#') christian
                  h2.entry-title
                    a(href='#' rel='bookmark') Resisting You
                .entry-content
                  p
                    | 'Cause Your love is deeper/Your love keeps pulling me/Your love is wider/Your love's all I want to know it's true/What do I have to lose/Why am I resisting You'&mldr; 
                    a(href='/construction') (read more)
                <iframe src="https://open.spotify.com/embed/track/7oF90Fq34O688ruHQD8fmV" width='500' height='80' frameborder='0' allowtransparency='true' allow='encrypted-media'></iframe>
                //- a.button.button-filled.button-color(href='#')
                //-     span.zmdi.zmdi-collection-music
                //-     | Coming Soon
                //- iframe(src='https://open.spotify.com/embed?theme=black&uri=spotify%3Atrack%3A0RWwsyI9dSR2qErtaNxvHI&view=list' width='500' height='80' frameborder='0' allowtransparency='true' allow='encrypted-media')
                //- .entry-audio
                //-   .podcast-episode
                //-     .podcast-episode-player(data-episode-duration='00:41')
                //-       audio.wp-audio-shortcode(preload='none' style='width: 100%;' controls='controls')
                //-         source(src='http://html.liviucerchez.com/common/preview1.mp3' type='audio/mpeg')
                //-         source(src='http://html.liviucerchez.com/common/preview1.ogg' type='audio/ogg')
          article.entry.entry-episode
            .row.align-items-lg-center
              .col-12.col-md-4.col-xl-3
                .entry-media.entry-image.multiply-effect
                  a(href='/img/TheThrone.png')
                    img.first(src='/img/TheThrone.png' width='736' height='736' alt='')
                    span.second
                      img(src='/img/TheThrone.png' width='736' height='736' alt='')
                    span.third
                      img(src='/img/TheThrone.png' width='736' height='736' alt='')
              .col-12.col-md-8.col-xl-9
                header.entry-header
                  .entry-meta
                    span.posted-in
                      span.screen-reader-text Posted in: 
                      a(href='#' rel='bookmark') The Throne 
                    span.posted-on
                      span.screen-reader-text Posted on: 
                      a(href='#' rel='bookmark')
                        time.entry-date.published(datetime='2020-03-26T14:48:37+00:00') Mar 27, 2020
                    span.tags
                      span.screen-reader-text Tagged: 
                      a(rel='tag' href='#') Throne 
                      | , 
                      a(rel='tag' href='#') TheThrone 
                      | , 
                      a(rel='tag' href='#') christian
                  h2.entry-title
                    a(href='#' rel='bookmark') The Throne
                .entry-content
                  p
                    | 'We guna put on a show/We're going hard when we get loud/We guna put on a show/And we give it all to Christ on the throne'
                    a(href='/construction') (read more)
                iframe(src='https://open.spotify.com/embed?theme=black&uri=spotify%3Atrack%3A0RWwsyI9dSR2qErtaNxvHI&view=list' width='500' height='80' frameborder='0' allowtransparency='true' allow='encrypted-media')
          article.entry.entry-episode
            .row.align-items-lg-center
              .col-12.col-md-4.col-xl-3
                .entry-media.entry-image.multiply-effect
                  a(href='/img/TheThrone.png')
                    img.first(src='/img/TheThrone.png' width='736' height='736' alt='')
                    span.second
                      img(src='/img/TheThrone.png' width='736' height='736' alt='')
                    span.third
                      img(src='/img/TheThrone.png' width='736' height='736' alt='')
              .col-12.col-md-8.col-xl-9
                header.entry-header
                  .entry-meta
                    span.posted-in
                      span.screen-reader-text Posted in: 
                      a(href='#' rel='bookmark') The Throne 
                    span.posted-on
                      span.screen-reader-text Posted on: 
                      a(href='#' rel='bookmark')
                        time.entry-date.published(datetime='2020-03-26T14:48:37+00:00') Mar 27, 2020
                    span.tags
                      span.screen-reader-text Tagged: 
                      a(rel='tag' href='#') Move 
                      | , 
                      a(rel='tag' href='#') TheThrone 
                      | , 
                      a(rel='tag' href='#') christian
                  h2.entry-title
                    a(href='#' rel='bookmark') Move
                .entry-content
                  p
                    | 'Please don't stop me let me go/Move your body to the floor/feel the rhythm feel the flow/The party is bumpin' keep moving some more/ 
                    | Please don't stop me let me go/Move your body to the floor/feel the rhythm feel the flow/Your hands in the air feel the beat in your soul'&mldr;
                    a(href='/construction') (read more)
                iframe(src='https://open.spotify.com/embed?theme=black&uri=spotify%3Atrack%3A1wyOVR9onqjU6ORYq95tjo&view=list' width='500' height='80' frameborder='0' allowtransparency='true' allow='encrypted-media')
          article.entry.entry-episode
            .row.align-items-lg-center
              .col-12.col-md-4.col-xl-3
                .entry-media.entry-image.multiply-effect
                  a(href='/img/ThankYou.png')
                    img.first(src='/img/ThankYou.png' width='736' height='736' alt='')
                    span.second
                      img(src='/img/ThankYou.png' width='736' height='736' alt='')
                    span.third
                      img(src='/img/ThankYou.png' width='736' height='736' alt='')
              .col-12.col-md-8.col-xl-9
                header.entry-header
                  .entry-meta
                    span.posted-in
                      span.screen-reader-text Posted in: 
                      a(href='#' rel='bookmark') Thank You 
                    span.posted-on
                      span.screen-reader-text Posted on: 
                      a(href='#' rel='bookmark')
                        time.entry-date.published(datetime='2017-09-09T14:48:37+00:00') February 16, 2018
                    span.tags
                      span.screen-reader-text Tagged: 
                      a(rel='tag' href='#') TYFL 
                      | , 
                      a(rel='tag' href='#') pop 
                      | , 
                      a(rel='tag' href='#') christian
                  h2.entry-title
                    a(href='#' rel='bookmark') Thank You For Leaving
                .entry-content
                  p
                    | ' Thank you for leaving me/Thank you for teaching me/That you weren't what I needed and now I can see it/Thank you for showing me/I wasn't the man I was called to be/But now that I can be set free/ I thank you for leaving me '&mldr; 
                    a(href='#') (read more)
                iframe(src='https://open.spotify.com/embed?theme=black&uri=spotify%3Aalbum%3A35Y3dGthd5xzzUgiedLfvf&view=list' width='500' height='80' frameborder='0' allowtransparency='true' allow='encrypted-media')
          article.entry.entry-episode
            .row.align-items-lg-center
              .col-12.col-md-4.col-xl-3
                .entry-media.entry-image.multiply-effect
                  a(href='/img/Life.png')
                    img.first(src='/img/Life.png' width='736' height='736' alt='')
                    span.second
                      img(src='/img/Life.png' width='736' height='736' alt='')
                    span.third
                      img(src='/img/Life.png' width='736' height='736' alt='')
              .col-12.col-md-8.col-xl-9
                header.entry-header
                  .entry-meta
                    span.posted-in
                      span.screen-reader-text Posted in: 
                      a(href='#' rel='bookmark') Life 
                    span.posted-on
                      span.screen-reader-text Posted on: 
                      a(href='#' rel='bookmark')
                        time.entry-date.published(datetime='2020-03-26T14:48:37+00:00') January 20, 2017
                    span.tags
                      span.screen-reader-text Tagged: 
                      a(rel='tag' href='#') Life 
                      | , 
                      a(rel='tag' href='#') pop 
                      | , 
                      a(rel='tag' href='#') christian
                  h2.entry-title
                    a(href='#' rel='bookmark') Life
                .entry-content
                  p
                    | 'So I can't keep my feet on the ground when Your voice is calling above me/No 
                    | I can't keep my feet on the ground when Your current's pulling me through/Oh I can't keep my feet on the ground when Your ocean's running right through me/
                    | No I can't keep my feet on the ground when I know this life's for you oh what more can I do'&mldr;
                    a(href='/construction') (read more)
                iframe(src='https://open.spotify.com/embed?theme=black&uri=spotify%3Aalbum%3A2XtgzAEaGH8baX6cqMut8N&view=list' width='500' height='80' frameborder='0' allowtransparency='true' allow='encrypted-media')
                //- .entry-audio
                //-   .podcast-episode
                //-     .podcast-episode-player(data-episode-duration='00:44')
                //-       audio.wp-audio-shortcode(preload='none' style='width: 100%;' controls='controls')
                //-         source(src='http://html.liviucerchez.com/common/preview2.mp3' type='audio/mpeg')
                //-         source(src='http://html.liviucerchez.com/common/preview2.ogg' type='audio/ogg')

        //-   .pagination.pagination-load-more
        //-     a.button.button-filled(href='#')
        //-       span.zmdi.zmdi-more
        //-       |  Browse More